<div class="hero-unit">
    <div ng-switch="user.loggedIn()">
        <div ng-switch-when="true">
            <logout></logout>

            <button class="btn btn-default" ng-click="game.getGame(gameId)">refresh</button>

            <h2>{{ game.currentGame.get('gameId') }}</h2>

            <h3>question</h3>
            <p>{{ game.currentQuestion.get('text') }}</p>

            <h3>players</h3>
            <ul class="players">
                <li ng-repeat="player in game.currentPlayers">
                    <img ng-src="https://graph.facebook.com/{{ player.get('authData').facebook.id }}/picture?width=70&height=70">
                </li>
            </ul>

        </div>
        <div ng-switch-when="false">
            <login></login>
        </div>
    </div>
</div>
