$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
  font-family: 'Special Elite', cursive;
  font-size: 80px;
}

.question {
  width: 100%;
  text-align: center;
}

.img-question {
  margin: 10px 0px 30px 0px;
}

